<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Kazuya Goto</title>
        <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

        <!-- Don't use this in production: -->
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>

<body>
    <script>
        const Movies = (props) => {
            console.log(props);
            const listItems = props.data.map((item) => {
                return  <li key={item._id} id={item._id}>
                            <a href={`/detail?title=${item.title}`}>
                                {item.title}
                            </a>
                        </li>
            });
            console.log(listItems);
            return <ul>{listItems}</ul>
            return <div class="container"><ul>{listItems}</ul></div>
        }

        ReactDOM.render(
            // <App />, document.getElementById('root')
            <div><Movies  data={movies} clickHandler={showDetail} /></div>,
            document.getElementById('root')
        );
    </script>
</body>
</html>