<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="../public/style.css">
    <title>Kazuya Goto</title>
</head>

<body>
    <div id="DOM"></div>
    <script type="text/babel">

        const name = movies.name;
        const NameList  = (props) => {
            console.log('NameList props=', props);
            return props.movies.map((name) =>  <li key={name}>{name}</li>);
        }

        const Greeting = (props) => {
            console.log('props= ', props);
            return
            <span>
                <h1>My movie</h1>
                <h2>Movies</h2>
                <NameList movies={name} />
            </span>;
        }

        const container = document.getElementById('DOM'); 
        const DOM = ReactDOM.createDOM(container);
        // root.render(<MyApp />);
        DOM.render(<Greeting/>);

    </script>
</body>

<script src="index3.js"></script>
<script src="../data.js"></script>

</html> 